html
  head
    link(href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="theme-color" content="#ffffff")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet")
    style
      include aleste.css
    title= 'Aleste on ' + model.tag.label
  body
    div(class="bar")
      a(href="/")
        img(src="/mstile-150x150.png")
        span Aleste
    div(class="contents")
      h3= 'Highlights on \"' + model.tag.label + '\" over the last ' + model.elapsedTimeString
      p= 'The highlights bellow where identified by Aleste the bot, over a total of ' + model.tagArticles.length + ' articles'
      ul(class="sums")
        if model.sum === undefined
          li This topic had no updates
        else
          each entry in model.sum.entries
              li= entry.text
      if model.tag
        ul(class="ctrl")
          li
            a(href=model.path) Change time selection
          li
            a(href=model.siteTopicUrl)= 'Latest articles about \"' + model.tag.label + '\"'
          li
            a(href='/?aleste='+model.aleste) Look for other topics
